/* Home.css */

.home-container {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    min-height: 100vh;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.home-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.filter-section {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.filter-section label,
.filter-section span {
    margin-right: 1rem;
}

.filter-section select {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--element-background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.filter-buttons {
    display: flex;
    gap: 0.5rem;
}

.filter-button {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--element-background-color);
    cursor: pointer;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.filter-button.active {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
}

.create-task-link {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.create-task-link:hover {
    background-color: var(--primary-color-hover);
    color: var(--primary-text-color);
}

.clear-filters-button {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.clear-filters-button:hover {
    background-color: var(--secondary-color-hover);
}

.show-subtasks-button {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.show-subtasks-button:hover {
    background-color: var(--secondary-color-hover);
}

.task-container {
    background-color: var(--element-background-color);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 2rem;
    transition: background-color 0.3s;
}

.task-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.task-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.task-item {
    flex: 1 0 calc(25% - 1rem);
    background-color: var(--element-background-color);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s;
}

.task-link {
    text-decoration: none;
    color: inherit;
}

.task-link:hover {
    text-decoration: underline;
}

.task-delete-button {
    background-color: var(--delete-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.task-delete-button:hover {
    background-color: var(--delete-color-hover);
}

/* Adjustments for Show Subtasks button */
.show-subtasks-button {
    margin-top: 0.5rem;
}

@media (max-width: 1200px) {
    .task-item {
        flex: 1 0 calc(33.33% - 1rem);
    }
}

@media (max-width: 768px) {
    .task-item {
        flex: 1 0 calc(50% - 1rem);
    }
}

@media (max-width: 576px) {
    .task-item {
        flex: 1 0 calc(100% - 1rem);
    }
}

@media (max-width: 768px) {
    .filters-container {
        flex-direction: column;
    }

    .filter-section,
    .filter-buttons {
        width: 100%;
        justify-content: space-between;
    }

    .filter-section {
        margin-bottom: 1rem;
    }
}

/* Dark mode variables */
:root {
    --background-color: #f5f5f5;
    --text-color: #222;
    --border-color: #ddd;
    --element-background-color: #f8f8f8;
    --primary-color: #ff6347;
    --primary-color-hover: #f5493f;
    --primary-text-color: #fff;
    --secondary-color: #3399ff;
    --secondary-color-hover: #0056b3;
    --delete-color: #ff4d4f;
    --delete-color-hover: #d9363e;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --border-color: #333;
    --element-background-color: #1e1e1e;
    --primary-color: #bb86fc;
    --primary-color-hover: #9b64db;
    --secondary-color: #03dac6;
    --secondary-color-hover: #01a89d;
    --delete-color: #cf6679;
    --delete-color-hover: #b15562;
}